.v-modal-enter {
  opacity: 0;
}

.v-modal-leave-active {
  opacity: 0;
}

.v-modal-leave-to {
  opacity: 0;
}

.v-modal-body {
  transition: transform 0.2s ease;
}

.v-modal-enter .v-modal-body {
  transform: scale(1.1);
}

/* .v-modal-enter-active .v-modal-body, */
.v-modal-leave-active .v-modal-body {
  transform: scale(1.1);
}

.v-modal-enter-active,
.v-modal-leave-active {
  transition: opacity 0.2s ease;
}
