.card-box {
  @apply w-full;
  @apply flex flex-wrap;
}

.card {
  @apply overflow-auto;
  @apply rounded-md;
  @apply shadow;
  @apply w-64 m-2;
  @apply flex;

  flex-flow: column;

  &.slate {
    @apply max-w-md box-border;
    @apply bg-green-600;
    @apply cursor-pointer;
  }

  & .list {
    @apply overflow-y-hidden;
    @apply flex-grow;

    max-height: 16rem;
  }

  & .cta {
    @apply flex shadow-top;

    flex-flow: column;
  }
}
